{% extends 'base.html' %}
{% load static %}
{% block title %} Video Detail {% endblock %}

{% block header %}
<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
    <div class="text-center">
        <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto">Background image can be fixed. Content will simply slide over.</p>                	
    </div>                
</div>
<!-- Header image -->
<div id="tm-fixed-header-bg"></div> 
{% endblock %}

{% block content %}
<!-- Page content -->
<div class="container-fluid">
	<div class="mx-auto tm-content-container">
		<main>
			<div class="row mb-5 pb-4">
				<div class="col-12">
					<!-- Video player 1422x800 -->
					<video width="1422" height="800" controls autoplay>
						<source src="{{ video.video.url }}" type="video/mp4">							  
					</video>
				</div>
			</div>
			
			<div class="row mb-5 pb-5">
				<div class="col-xl-8 col-lg-7">
					<!-- Video description -->
					<div class="tm-video-description-box">
						<h2 class="mb-5 tm-video-title">{{ video.title }}</h2>
						<h5>{{ video.description }}</h5><hr>
						<p class="mb-4"><b>{{ video.content }}</b></p>
					</div>							
				</div>
				<div class="col-xl-4 col-lg-5" style="color: rgb(10, 10, 10);">
					<!-- Share box --> 
					{% include 'includes/video_detail_share_box.html' %}
				</div>
			</div>

			<div class="row pt-4 pb-5">
				<div class="col-12">
					<h2 class="mb-5 tm-text-primary"><b>Related Videos for You</b></h2>
					<div class="row tm-catalog-item-list">
						{% for video_r in related_videos %}
							<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
								<div class="position-relative tm-thumbnail-container">
									<img src="{{ video_r.photo.url }}" alt="Image" class="img-fluid tm-catalog-item-img">    
									<a href="{% url 'videos:video-detail' video_r.video_id %}" class="position-absolute tm-img-overlay">
										<i class="fas fa-play tm-overlay-icon"></i>
									</a>
								</div>   

								{% if dark_mode %}
									<div class="p-4 tm-bg-gray tm-catalog-item-description" style="background-color: rgb(10, 10, 10)">
								{% else %}
									<div class="p-4 tm-bg-gray tm-catalog-item-description">
								{% endif %}

								<div class="mb-3 col-md-6">
									<a href="{% url 'users:author-profile' video.author.user_id %}">
										<img src="{{ video.author.avatar.url }}" alt="" width="35" height="35" style="border-radius: 50%;">
										<span>{{ video.author.username }}</span>
									</a>
								</div>
								
								<h3 class="tm-text-primary mb-3 tm-catalog-item-title">{{ video.title }}</h3>
								<p class="tm-catalog-item-text">{{ video.description }}</p>
								<div>
									{{ video.created_at.date }}
									<span class="ml-5">
										<span class="ml-5">
											<span class="ml-5">
												{{ video.created_at.time }}
											</span>
										</span>
									</span>
								</div>
							</div>
						</div>
						{% empty %}
						<div class="container mt-5 mb-5">
							<center>
								<img src="{% static 'img/tenor.gif' %}" alt="" width="250" height="350">
								<h1 class="mt-5"><b>Videolar topilmadi !</b></h1>
							</center>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Subscribe form and footer links -->
		<div class="row mt-5 pt-3">
			{% include 'includes/subscribers.html' %}
		</div> <!-- row -->

		<footer class="row pt-5">
			<div class="col-12">
				<p class="text-right">Copyright 2020 The Video Catalog Company 
				
				- Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
			</div>
		</footer>
	</div> <!-- .tm-content-container -->
</div>
{% block script %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- <script>
	$(document).ready(function() {
		$('.tm-likes-box').click(function(e) {
			e.preventDefault();
			$(this).toggleClass('tm-liked');

			if($(this).hasClass('tm-liked')) {
				$('#tm-likes-count').html('486 likes');
			} else {
				$('#tm-likes-count').html('485 likes');
			}
		});
	});
</script> -->
{% endblock %}
{% endblock %}