<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">

    {% if dark_mode %}
        <div class="tm-bg-gray p-4" style="background-color: rgb(10, 10, 10);">
    {% else %}
        <div class="tm-bg-gray p-4">
    {% endif %}

        <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
        <h3 class="tm-text-primary mb-3">Cras convallis mollis justo</h3>
        <p>Sed dapibus vulputate diam nec hendrerit. In libero purus, interdum vitae purus nec, convallis sollicitudin nunc. Curabitur maximus maximus ex a scelerisque.</p>
    </div>		                    
</div>

<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">

    {% if dark_mode %}
        <div class="tm-bg-gray p-4" style="background-color: rgb(10, 10, 10);">
    {% else %}
        <div class="tm-bg-gray p-4">
    {% endif %}

        <i class="fas fa-broadcast-tower fa-5x p-3 mb-4 tm-about-icon"></i>
        <h3 class="tm-text-primary mb-3">Nullam dictum pretium</h3>
        <p>Quisque vestibulum lectus eros, tincidunt ultricies ante euismod non. Ut sed consequat est, quis lobortis lorem. Nullam dictum pretium mauris eu aliquam.</p>
    </div>	
</div>

<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">

    {% if dark_mode %}
        <div class="tm-bg-gray p-4" style="background-color: rgb(10, 10, 10);">
    {% else %}
        <div class="tm-bg-gray p-4">
    {% endif %}

        <i class="fas fa-film fa-5x p-3 mb-4 tm-about-icon"></i>
        <h3 class="tm-text-primary mb-3">Etiam in quam dolor</h3>
        <p>Aliquam in congue diam, non tincidunt ligula. Suspendisse facilisis elit eget quam semper aliquet. Donec ut purus aliquet, imperdiet lacus id, faucibus lectus.</p>
    </div>	
</div>

<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">

    {% if dark_mode %}
        <div class="tm-bg-gray p-4" style="background-color: rgb(10, 10, 10);">
    {% else %}
        <div class="tm-bg-gray p-4">
    {% endif %}

        <i class="far fa-map fa-5x p-3 mb-4 tm-about-icon"></i>
        <h3 class="tm-text-primary mb-3">Duis ornare felis nec orci</h3>
        <p>Nam dapibus lectus ultricies neque feugiat eleifend. Donec ornare dolor suscipit metus hendrerit, vel malesuada neque mattis. Fusce posuere cursus mattis.</p>
    </div>	
</div>

<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">

    {% if dark_mode %}
        <div class="tm-bg-gray p-4" style="background-color: rgb(10, 10, 10);">
    {% else %}
        <div class="tm-bg-gray p-4">
    {% endif %}

        <i class="fas fa-rainbow fa-5x p-3 mb-4 tm-about-icon"></i>
        <h3 class="tm-text-primary mb-3">Class aptent taciti sociosqu</h3>
        <p>Maecenas et libero in eros laoreet finibus sed vitae diam. Etiam consetetur, nunc sed pretium elementum, diam erat fringilla tortor, placerat condimentum.</p>
    </div>	
</div>

<div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">

    {% if dark_mode %}
        <div class="tm-bg-gray p-4" style="background-color: rgb(10, 10, 10);">
    {% else %}
        <div class="tm-bg-gray p-4">
    {% endif %}

        <i class="fas fa-cloud-sun-rain fa-5x p-3 mb-4 tm-about-icon"></i>
        <h3 class="tm-text-primary mb-3">Suspendisse ut malesuada</h3>
        <p>Vestibulum non lectus id lacus aliquet porttitor in non nulla. Aenean urna diam, finibys id lorem nec, feugiat convallis dolor. Integer aliquam, eros eget rutrum iaculis.</p>
    </div>	
</div>