<div>
    {% if dark_mode %}
        <ul class="nav tm-paging-links">
            <li class="nav-item active"><a href="#" class="nav-link tm-paging-link" style="background-color: rgb(10, 10, 10);">1</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link" style="background-color: rgb(10, 10, 10);">2</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link" style="background-color: rgb(10, 10, 10);">3</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link" style="background-color: rgb(10, 10, 10);">4</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link" style="background-color: rgb(10, 10, 10);">></a></li>
        </ul>
    {% else %}
        <ul class="nav tm-paging-links">
            <li class="nav-item active"><a href="#" class="nav-link tm-paging-link">1</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">2</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">3</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">4</a></li>
            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">></a></li>
        </ul>
    {% endif %}
</div>